## pandas

In [1]:
import pandas as pd
import numpy as np
ser = pd.Series([5,0,3,8,4],index=['red','blue','yellow','white','green'])
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [2]:
ser.sort_index() #按数字排序

blue      0
green     4
red       5
white     8
yellow    3
dtype: int64

In [3]:
ser.sort_index(ascending=False) #安装字母排序，降序

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

In [4]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['red','blue','yellow','white'],
                    columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [5]:
frame.sort_index() # b<r<w<y

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

In [6]:
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [7]:
ser.sort_values()

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

In [8]:
frame.sort_values(by='pen')

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [10]:
frame.sort_values(by=['pen','pencil'])

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [11]:
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [13]:
ser.sort_values()

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

In [12]:
ser.rank() #rank 与sort结果一直

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

In [14]:
ser.rank(ascending=False)

red       2.0
blue      5.0
yellow    4.0
white     1.0
green     3.0
dtype: float64