# pandas
轴标签或其他用作轴名称的元数据就存储在index对象
***
## index对象的方法

In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series([5,0,3,8,4],index=['red','blue','yellow','white','green'])
ser.index

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

In [3]:
ser.idxmin()

'blue'

In [4]:
ser.idxmax()

'white'

    idxmin,idxmax是最值函数-->如何比较大小？去看C语言吧

## 含有重复标签的index

**此前已经测试，此处知识验证了   
但是此处有两个函数需要说明**

In [5]:
ser.index.is_unique

True

    index.is_unique:判断index是否存在重复，唯一的=不存在重复

## 索引对象的其他功能
* 更换索引
* 删除
* 对齐

+ 更换索引

In [6]:
ser = pd.Series([2,5,7,4],index=['one','two','three','four'])
ser

one      2
two      5
three    7
four     4
dtype: int64

In [7]:
ser.reindex(['thre','four','five','one'])

thre    NaN
four    4.0
five    NaN
one     2.0
dtype: float64

    从返回的结果可以看出，标签顺序全部调整过。删除了标签two及其元素，增加了标签five
    然后，此时出现了NaN
    对于大型的DataFrame更是如此
   ## 如何解决这个问题？----自动编排

In [8]:
ser3 = pd.Series([1,5,6,3],index=[0,3,5,6])
ser3

0    1
3    5
5    6
6    3
dtype: int64

    显然，上面的索引并不是完整的却少了（1，2，4）；
    看如下操作：

In [9]:
ser3.reindex(range(6),method='ffill')

0    1
1    1
2    1
3    5
4    5
5    6
dtype: int64

    增加了原Series对象缺失的索引项，新插入项的索引值为前面索引编号比它小的那一项的元素

In [10]:
ser3.reindex(range(6),method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64

In [11]:
frame.reindex(range(5),method='ffill',columns=['colors','price','new','object'])

NameError: name 'frame' is not defined

## 删除
drop

In [12]:
np.arange(4)

array([0, 1, 2, 3])

In [13]:
ser = pd.Series(np.arange(4.), index=['red','blue','yellow','white'])
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

In [14]:
ser.drop('yellow')

red      0.0
blue     1.0
white    3.0
dtype: float64

In [15]:
ser.drop(['blue','white'])

red       0.0
yellow    2.0
dtype: float64

In [16]:
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

    显然，drop会输出，并不会修改ser对象

In [17]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['red','blue','yellow','white'],
                    columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [18]:
frame.drop(['blue','yellow']) #删除行

       ball  pen  pencil  paper
red       0    1       2      3
white    12   13      14     15

In [19]:
frame.drop(['pen','pencil'],axis=1) #删除列

        ball  paper
red        0      3
blue       4      7
yellow     8     11
white     12     15

## 算术和数据对齐

In [20]:
s1 = pd.Series([3,2,5,1],['white','yellow','green','blue'])
s2 = pd.Series([1,4,7,2,1],['white','yellow','black','blue','brown'])

In [21]:
s1

white     3
yellow    2
green     5
blue      1
dtype: int64

In [22]:
s2

white     1
yellow    4
black     7
blue      2
brown     1
dtype: int64

In [23]:
s1+s2

black     NaN
blue      3.0
brown     NaN
green     NaN
white     4.0
yellow    6.0
dtype: float64

In [31]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=['blue','green','white','yellow'],
                     columns=['mug','pen','ball'])

In [32]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [33]:
frame2

        mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

In [34]:
frame1+frame2

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN