## 数据结构之间的运算
pandas数据结构之间使用算术运算符
* add()
* sub()
* div()
* mul()

In [1]:
import pandas as pd
import numpy as np

frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=['blue','green','white','yellow'],
                     columns=['mug','pen','ball'])

In [2]:
frame1.add(frame2)

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

## DataFrame 与 Series之间的运算

In [4]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['red','blue','yellow','white'],
                    columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [9]:
ser = pd.Series(np.arange(0,8,2),index=['ball','pen','pencil','paper'])
ser

ball      0
pen       2
pencil    4
paper     6
dtype: int64

In [10]:
frame - ser

        ball  pen  pencil  paper
red        0   -1      -2     -3
blue       4    3       2      1
yellow     8    7       6      5
white     12   11      10      9

In [11]:
ser['mug']=100
ser

ball        0
pen         2
pencil      4
paper       6
mug       100
dtype: int64

In [12]:
frame -ser

        ball  mug  paper  pen  pencil
red        0  NaN     -3   -1      -2
blue       4  NaN      1    3       2
yellow     8  NaN      5    7       6
white     12  NaN      9   11      10

## 函数应用和映射

In [13]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['red','blue','yellow','white'],
                    columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [14]:
np.sqrt(frame)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

* **function**

In [16]:
f = lambda x: x.max()-x.min()
frame.apply(f)

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [17]:
frame.apply(f,axis=1)

red       3
blue      3
yellow    3
white     3
dtype: int64

In [18]:
def f(x):
    return pd.Series([x.min(),x.max()],index=['min','max'])
frame.apply(f)

     ball  pen  pencil  paper
min     0    1       2      3
max    12   13      14     15

* **统计函数**

In [20]:
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [19]:
frame.sum()

ball      24
pen       28
pencil    32
paper     36
dtype: int64

In [21]:
frame.mean()

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

In [22]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000