## pandas
***
### NaN处理

In [1]:
import pandas as pd
import numpy as np
ser = pd.Series([0,1,2,np.NaN,9],
               index=['red','blue','yellow','white','green'])
ser #np.Nan = np.nan 不分大小写

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [2]:
ser['white']=None
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

## NaN过滤

In [3]:
ser.dropna()

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [4]:
ser[ser.notnull()]

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

### DataFrame使用dropna函数，只要该行、列有一个NaN元素，该行、列的全部元素都会被删除

In [5]:
frame3 = pd.DataFrame([[6,np.nan,6],[np.nan,np.nan,np.nan],[2,np.nan,5]],
                     index=['blue','green','red'],
                     columns=['ball','mug','pen'])
frame3

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

In [6]:
frame3.dropna()

Empty DataFrame
Columns: [ball, mug, pen]
Index: []

# 为了避免删除整个行列，需要使用how选项，指定值为all，告诉dropna函数只需要删除所有元素都为NaN的行或列

In [8]:
frame3.dropna(how='all')

      ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

# 为NaN填充其他值

In [9]:
frame3.fillna(0)

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  0.0  0.0
red     2.0  0.0  5.0

In [11]:
frame3.fillna({'ball':1,'mug':1000,'pen':99})

       ball     mug   pen
blue    6.0  1000.0   6.0
green   1.0  1000.0  99.0
red     2.0  1000.0   5.0