# pandas
***
## Series
## DataFrame
***

In [3]:
import pandas as pd
import numpy as np

## Series
Series建立一个类似于numpy结构的存储结构；其中存储方式又类似于map()即可用下标做索引，又可以用指定的index做索引;   
效果上相当于双索引
index  values   
a- 0---    12   
b- 1---    -4   
c- 2---     7   
d- 3---     9   
*如果索引系统，比如出现了两个a。同样会输出两个数值*   
*如果索引中使用了数字，则不可以通过顺序就是上面的第二列进行访问*

### creat

In [4]:
s = pd.Series([12,-4,7,9])

In [5]:
s

0    12
1    -4
2     7
3     9
dtype: int64

In [6]:
s.size

4

In [7]:
s = pd.Series([12,-4,7,9],index=['a','b','c','d'])

In [8]:
s

a    12
b    -4
c     7
d     9
dtype: int64

In [9]:
s.values

array([12, -4,  7,  9])

In [10]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

***
### 访问

In [11]:
s[2]

7

In [12]:
s['b']

-4

In [13]:
s[0:2]

a    12
b    -4
dtype: int64

In [14]:
s[['b','c']]

b   -4
c    7
dtype: int64

***
### 修改

In [15]:
s

a    12
b    -4
c     7
d     9
dtype: int64

In [18]:
s[1]=0
s['a']=1

In [19]:
s

a    1
b    0
c    7
d    9
dtype: int64

In [20]:
u = pd.Series([12,-3,5,6],index=['a','a',3,'c'])

In [21]:
u['a']

a    12
a    -3
dtype: int64

In [22]:
u[3]

5

In [23]:
u

a    12
a    -3
3     5
c     6
dtype: int64

***
使用Numpy 或 Series 定义新的Series

In [26]:
arr = np.array([1,2,3,4])
s3 = pd.Series(arr)
s4 = pd.Series(s)

In [27]:
s3

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
s4

a    1
b    0
c    7
d    9
dtype: int64

In [29]:
arr[2] = 100

In [31]:
s3

0      1
1      2
2    100
3      4
dtype: int64

    新Series对象中的元素是原Numpy或Series对象的引用。而不是copy；会随着原对象改变,原对象同理

In [32]:
s3[0] = 99

In [33]:
arr

array([ 99,   2, 100,   4])

***
*筛选*

In [34]:
s

a    1
b    0
c    7
d    9
dtype: int64

In [35]:
s[s<8]

a    1
b    0
c    7
dtype: int64

***
### Series 运算符和数学函数

In [36]:
s/2

a    0.5
b    0.0
c    3.5
d    4.5
dtype: float64

In [37]:
np.log(s)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

a    0.000000
b        -inf
c    1.945910
d    2.197225
dtype: float64

In [39]:
serd = pd.Series([1,0,2,1,2,3],index=['wite','white','blue','green','green','yellow'])

    Series第一个参数 和 第二个参数 size上要相同 1:1关系

#### Series元素数量

In [40]:
serd.unique()

array([1, 0, 2, 3])

    unque()是去重后的

In [41]:
serd.value_counts()

2    2
1    2
3    1
0    1
dtype: int64

In [42]:
serd

wite      1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

### isin() 
**函数用于筛选series或DataFrame列中的数据**

In [43]:
serd.isin([0,3])

wite      False
white      True
blue      False
green     False
green     False
yellow     True
dtype: bool

    因为0,3 in [0,3] 所以对应的boolean为True

## NaN 表示数据有问题，必须对其处理
以下情况会产生NaN：   
+ 有问题的数据源抽取数据   
+ 数据源出现缺失
+ log 非正数
+ / 0

In [45]:
s2 = pd.Series([5,-3,np.NaN,14])

In [46]:
s2

0     5.0
1    -3.0
2     NaN
3    14.0
dtype: float64

In [47]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [48]:
s2.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [50]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

## Series 用作 dictionary

In [51]:
mydict={'akun':1040,'zhengzhegn':1060,'zhuangzhuang':1020}

In [52]:
mydict

{'akun': 1040, 'zhengzhegn': 1060, 'zhuangzhuang': 1020}

In [53]:
myseries = pd.Series(mydict)

In [54]:
myseries

akun            1040
zhengzhegn      1060
zhuangzhuang    1020
dtype: int64

## Series 对象之间运算

In [55]:
mydict2={'akun':1040,'zhengzhegn':1060,'red':400,'oriange':1000}

In [56]:
myseries2 = pd.Series(mydict2)

In [57]:
myseries + myseries2

akun            2080.0
oriange            NaN
red                NaN
zhengzhegn      2120.0
zhuangzhuang       NaN
dtype: float64

    自行观察！