# JSON（JavaScript Object Notation，JavaScript对象标记）最常用的标准数据格式之一，特别是web数据方面

In [2]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index = ['white','black','red','blue'],
                    columns=['up','down','right','left'])
frame.to_json('frame.json')

In [4]:
pd.read_json('frame.json')

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [10]:
import json
from pandas.io.json import json_normalize ##

In [6]:
file=open('books.json','r')
text = file.read()
text = json.loads(text)

In [7]:
text

[{'writer': 'Mark Ross',
  'nationality': 'USA',
  'books': [{'title': 'XML Cookbook', 'price': 23.56},
   {'title': 'Python Fundamentals', 'price': 50.7},
   {'title': 'The Numpy library', 'price': 12.3}]}]

In [11]:
json_normalize(text,'books')

<ipython-input-11-69c167e6079f>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(text,'books')

                 title  price
0         XML Cookbook  23.56
1  Python Fundamentals  50.70
2    The Numpy library  12.30

In [12]:
json_normalize(text,'books',['nationality','writer'])

<ipython-input-12-d7dc1f100c74>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(text,'books',['nationality','writer'])

                 title  price nationality     writer
0         XML Cookbook  23.56         USA  Mark Ross
1  Python Fundamentals  50.70         USA  Mark Ross
2    The Numpy library  12.30         USA  Mark Ross