# pandas HDF5
大数据时代，二进制格式存储是个必要的方案   
**HDF代表 等级数据格式（hierarchical data format）
支持实时压缩**

In [3]:
from pandas.io.pytables import HDFStore
import pandas as pd
import numpy as np

In [4]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['white','black','red','blue'],
                    columns=['up','down','right','left'])

In [5]:
store = HDFStore('mydata.hs')
store['obj1']=frame

In [6]:
frame

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [8]:
store['obj2']=frame

In [9]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.hs

In [10]:
store['obj2']

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [11]:
store['obj1']

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15