### 读取大文件的时候，如果只想读取文件的部分数据
> 使用nrows和skiprows选项；
* skipsrow指定起始行
* nrows从起始行开始往后读多少行

In [3]:
import pandas as pd
import numpy as np

pd.read_csv('ch05_02.csv',skiprows=[2],nrows=3,header=None)

   0  1  2  3     4
0  1  5  2  3   cat
1  2  7  8  5   dog
2  2  2  8  3  duck

> 例如有一列数字，每隔两行取一个累加起来，最后把和插入到Series对象中

*代码出错，新版本已经找不到其中的函数了*
***
### 将数据写入CSV文件

In [7]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index = ['red','blue','yellow','white'],
                    columns = ['ball','pen','pencil','paper'])
frame.to_csv('ch05_07.csv')

In [11]:
pd.read_table('ch05_07.csv',sep=',')

  Unnamed: 0  ball  pen  pencil  paper
0        red     0    1       2      3
1       blue     4    5       6      7
2     yellow     8    9      10     11
3      white    12   13      14     15

    将ball等列名，以及index ‘red'写入了，

In [12]:
frame.to_csv('ch05_07.csv',index=False,header=False)

In [15]:
pd.read_table('ch05_07.csv',sep=",",header=None)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

    NaN写入文件时，是空字符的形式。不存在；代码过于冗余，放弃手敲了
   ### 解决方案：使用na_rep="NaN"(NaN可以替换成以下0，NULL)