In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
frame = pd.DataFrame(np.arange(20).reshape(4,5),
                    columns=['white','red','blue','black','green'])
frame

   white  red  blue  black  green
0      0    1     2      3      4
1      5    6     7      8      9
2     10   11    12     13     14
3     15   16    17     18     19

In [5]:
engine = create_engine('sqlite:///foo.db')

In [6]:
frame.to_sql('colors',engine)

In [7]:
pd.read_sql('colors',engine)

   index  white  red  blue  black  green
0      0      0    1     2      3      4
1      1      5    6     7      8      9
2      2     10   11    12     13     14
3      3     15   16    17     18     19