## 正则表达式

### 针对解析文件不是逗号或分号分隔；使用正则表达式
***
元字符：
* · 换行符之外的单个字符
* \d 数字
* \D 非数字
* \s 空白字符
* \S 非空白字符
* \n 换行符
* \t 制表符
* \uxxxx 用十六进制数着xxxx表示的Unicode字符   
ch05_04 随机使用空格或制表符分隔元素

In [2]:
import numpy as np
import pandas as pd
pd.read_table('ch05_04.txt',sep='\s+',engine='python')

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

> ch05_05.txt使用字母和数字的杂糅，且无表头。要求提取出数字部分

In [3]:
pd.read_table('ch05_05.txt',sep='\D+',header=None,engine='python')

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

#### 有时需要排除某些行，例如ch05_05；使用skiprows

In [4]:
pd.read_table('ch05_06.txt',sep=',',skiprows=[0,1,3,6])

   white  red  blue  gerrn animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse