## read_excel() & to_excel()
* read_excel()能读取Excel 2003(.xls) Excel 2007(.xlsx)

In [2]:
import pandas as pd
import numpy as np

In [4]:
#pd.read_excel('ch05_data.xlsx')
读取这种格式失败

NameError: name '读取这种格式失败' is not defined

In [5]:
frame = pd.DataFrame(np.random.random((4,4)),
                    index = ['exp1','exp2','exp3','exp4'],
                    columns = ['Jan2015','Fab2015','Mar2015','Apr2005'])
frame

       Jan2015   Fab2015   Mar2015   Apr2005
exp1  0.998589  0.499147  0.076292  0.471815
exp2  0.607309  0.823467  0.339508  0.752526
exp3  0.559250  0.414818  0.632104  0.979987
exp4  0.048683  0.032736  0.741927  0.904692

In [7]:
frame.to_excel('data2.xlsx')

In [8]:
pd.read_excel('data2.xlsx')

  Unnamed: 0   Jan2015   Fab2015   Mar2015   Apr2005
0       exp1  0.998589  0.499147  0.076292  0.471815
1       exp2  0.607309  0.823467  0.339508  0.752526
2       exp3  0.559250  0.414818  0.632104  0.979987
3       exp4  0.048683  0.032736  0.741927  0.904692