### pandas 提供了以下I/O API函数用于读写HTML文件：
* read_html（）
* t0_html（）
网上很多数据不是以TXT、CSV等格式存储，往往数据是网页本身的一部分。实现一个网页读取数据的函数非常有必要。   
读取网页数据的操作被称为**网页抓取**
***
网站多采用HTML5的格式存储，anaconda安装html5lib模块：   
conda install html5lib

In [1]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(4).reshape(2,2))

In [2]:
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [3]:
frame = pd.DataFrame(np.random.random((4,4)),
                    index = ['white','black','red','blue'],
                    columns = ['up','down','right','left'])
frame

             up      down     right      left
white  0.945437  0.893630  0.008821  0.680457
black  0.015846  0.470614  0.168449  0.819730
red    0.565784  0.437285  0.743008  0.668553
blue   0.573898  0.024029  0.657169  0.356462

In [4]:
s = ['<html>'] #html标题
s.append('<HEAD><TITLE>my dataframe</TITLE></HEAD>') #头标题
s.append('<BODY>') # body部分
s.append(frame.to_html()) #这是个html格式的表格
s.append('</BODY></HTML>') 
html = ''.join(s)

html_file=open('myFrame.html','w')
html_file.write(html)
html_file.close()

   ## 从HTML读取数据
   read_html做了什么事：
   解析HTML页面，寻找html表格。如果找到，将其转化为可以用于数据分析的DataFrame对象   
   即使只有一个表格，read_html也会返回一个DataFrame列表（存储DataFrame的列表）

In [5]:
web_frames = pd.read_html('myFrame.html')
web_frames[0]

  Unnamed: 0        up      down     right      left
0      white  0.945437  0.893630  0.008821  0.680457
1      black  0.015846  0.470614  0.168449  0.819730
2        red  0.565784  0.437285  0.743008  0.668553
3       blue  0.573898  0.024029  0.657169  0.356462

In [ ]:
# ranking = pd.read_html('https://music.163.com/#/discover/toplist?id=3778678') 
# pd.read_html 需要很多包才能读取成功

In [ ]:
ranking[0]