In [1]:
import numpy as np
import pandas as pd

In [2]:
frame1 = pd.DataFrame({'id':['ball','pencil','pen','mug','ashtray'],
                      'price':[12.33,11.44,33.21,13.23,33.62]})
frame1

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.21
3      mug  13.23
4  ashtray  33.62

In [3]:
frame2 = pd.DataFrame({'id':['pencil','pencil','ball','pen'],
                      'color':['white','red','red','balck']})
frame2

       id  color
0  pencil  white
1  pencil    red
2    ball    red
3     pen  balck

In [4]:
pd.merge(frame1,frame2)

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  balck

In [5]:
pd.merge(frame2,frame1)

       id  color  price
0  pencil  white  11.44
1  pencil    red  11.44
2    ball    red  12.33
3     pen  balck  33.21

In [8]:
frame2['id'][2]='book'
frame2

       id  color
0  pencil  white
1  pencil    red
2    book    red
3     pen  balck

In [7]:
pd.merge(frame1,frame2)

       id  price  color
0  pencil  11.44  white
1  pencil  11.44    red
2     pen  33.21  balck